# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/
env_network/

# Outputs
outputs/results/*
outputs/logs/*
!outputs/results/.gitkeep
!outputs/logs/.gitkeep

data/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
